<!DOCTYPE html>
<html>
  <head>
    <title>Arsenal starting eleven</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h3>Create Arsenal starting eleven</h3>
    <p>
      Create Arsenal starting eleven as you wish. :)<br>
      The staring lineup a bit mixed up. Adjust it based on your thoughts!:)<br>
      Use drag and drop
    </p>
    <div id="data">
      <% for(var i=0 ; i < playerData.length ; i++) { %>
        <div id="<%= playerData[i].id %>">
          <p class="name"><%= playerData[i].name %></p>
          <p class="img"><%= playerData[i].img %></p>
          <p class="number"><%= playerData[i].number %></p>
        </div>
      <% } %>
    </div>

    <div id="startingEleven"></div>

    <script src="/js/kinetic.js"></script>
    <script src="/js/indexEM5.js"></script>
  </body>
</html>